body {
    margin: auto;
    background-color: #eeeeee;
}

.fa-bars,
.fa-search {
    color: black;
    font-size: 30px;
}

nav img {
    height: 40px;
}

nav {
    display: flex;
    width: 100%;
    margin: 0px;
}

.searchBar {
    align-self: center;
}

input {
    width: 40rem;
    padding: 10px;
}

nav button {
    height: 40px;
    width: 150px;
    background: #267AC6;
    padding: 10px;
}

li {
    list-style: none;
    display: inline;
}

ul {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
}

.upload {
    background-color: white;
}

.container {
    width: 100%;
}

.leftContent {
    width: 60%;
}

.rightContent {
    width: 40%;
}

.videoSummary {
    padding: 5px;
    border-color: black;
    background-color: white;
}

.floatRight {
    float: right;
    position: relative;
    bottom: 0px;
}

.floatLeft {
    float: left;
}

.reactions {
    width: 60%;
    height: 30px;
}

.video {
    width: inherit
}

.details {
    display: inline-flex;
}

.subscribe {
    display: block;
}