.container {
    width: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    background-color: #eeeeee;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    grid-area: header;
    height: 55px;
    border-bottom: 3px solid lightgrey;
    display: grid;
    grid-template-columns: 150px 1fr 250px;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    position: fixed;
    top: -0.2em;
    width: 100%;
    z-index: 1;
    background: white;
}

i {
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

.head1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fa-bars {
    position: relative;
    top: 10px;
    font-size: 30px;
}

.ytlogo {
    height: 35px;
    position: relative;
    top: 6px;
    margin-left: 20px;
}

.head2 form {
    width: 70%;
    margin: 0 auto;
}

.head2 form input {
    font-size: 103%;
    width: 100%;
    position: relative;
    top: 12px;
    padding: 4px;
}

.fa-search {
    float: right;
    position: relative;
    top: -10px;
    height: 28px;
    width: 40px;
    left: 10px;
}

.head3 {
    display: inline-flex;
    justify-content: space-around;
}

.fa-upload {
    position: relative;
    top: 13px;
    left: 17px;
}

.sign {  
    background: blueviolet;
    color: white;
   
}

.bodyContent {
    width: 100%;
    display: flex;
    margin-top: 4em;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
}

.leftContent {
    width: 65%;
    padding: 0 1em
}

.rightContent {
    width: 30%;
    margin-top: 1.2em;
    display: block;
    background-color: white;
}

.videoSummary,
.videoDetails {
    padding: .9em;
    border-color: black;
    background-color: white;
}

.videoSummary h2 {
    font-size: 2.2em;
    margin: .4em;
}

.icon{
    padding-top: 1em;
}

.videoSummary h4 {
    font-size: 1.5em;
    margin: 1em 0;
}

.floatRight {
    float: right;
    position: relative;
    top: 80px;
}

.reactions {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;

    /* height: 30px; */
}

.video {
    width: 100%;
    padding: 20px 0px;
}

.video object {
    width: 100%;
    min-height: 60vh;
}

.details {
    padding: .5em;
    display: inline-flex
}

.details img {
    height: 60px;
    border-radius: 50%;
}

.subscribe {
    display: block;
    line-height: 3px;
    padding-left: 1em;
}

.upNext {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background-color: white;
}

#nxtBtn{
    margin-top: .8em
}

.nextRecommended {
    padding: 0 1em;
    display: inline-flex;
    justify-content: space-evenly;
}

.sideVid {
    display: inline-flex;
    justify-content: space-evenly;
    max-height: 100px;
    padding: 10px;
    /* align-content: left; */
}

.sideTxt{
        margin-left: 1em;
        position: relative;
        bottom: 1em
}

.loading {
    padding: 30px;
    background-color: white;
    border-color: black;
    box-shadow: #eeeeee;
}

.more{
    padding: 2em 0;
    text-align: center;
}

.load{
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid gray;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}